<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - TLMSDashboard</title>
    @Html.Partial("_LayoutStyleSheet")

</head>
<body>
    <div class="wrapper">
        @Html.Partial("_LayoutMainSidebar")
        <div id="content">
            @Html.Partial("_LayoutMainHeader")
            <div class="mx-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TLMSDashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @Html.Partial("_LayoutScript")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
